In [ ]:
statistics_calculations = {
    'pontuacao_credito':[pd.Series.mode,'median','mean','std']}


answer = df.groupby('estado_residencia').agg(statistics_calculations)

answer.columns = [
    'moda',
    'mediana',
    'media',
    'desvio_padrao']

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('desafio1.csv')

In [4]:
df.columns

Index(['RowNumber', 'id', 'sobrenome', 'pontuacao_credito',
       'estado_residencia', 'genero', 'idade', 'nivel_estabilidade',
       'saldo_conta', 'numero_produtos', 'possui_cartao_de_credito',
       'membro_ativo'],
      dtype='object')

In [5]:
statistics_calculations = [pd.Series.mode,pd.Series.median,pd.Series.mean,pd.Series.std]
#output = df.groupby('estado_residencia').agg(statistics_calculations)

In [6]:
output = (df.groupby('estado_residencia')['pontuacao_credito'].agg(statistics_calculations)
          .sort_values('estado_residencia', ascending = True))

In [7]:
output

                   mode  median        mean        std
estado_residencia
PR                  850     650  648.961294  98.607186
RS                  850     650  651.105143  95.136598
SC                  850     653  649.537653  97.233493

In [8]:
output.columns = [
    'moda',
    'mediana',
    'media',
    'desvio_padrao']

In [9]:
output

                   moda  mediana       media  desvio_padrao
estado_residencia
PR                  850      650  648.961294      98.607186
RS                  850      650  651.105143      95.136598
SC                  850      653  649.537653      97.233493

In [10]:
output.to_json(orient='index')

'{"PR":{"moda":850,"mediana":650,"media":648.9612940497,"desvio_padrao":98.6071859131},"RS":{"moda":850,"mediana":650,"media":651.1051428571,"desvio_padrao":95.1365984138},"SC":{"moda":850,"mediana":653,"media":649.5376527423,"desvio_padrao":97.2334927934}}'

In [12]:
output.to_json(r'submission.json', orient='index')